*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#070b18;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 10%;
position:fixed;
width:100%;
background:rgba(0,0,0,.4);
backdrop-filter:blur(10px);
}

.logo{
font-size:30px;
font-weight:bold;
color:#00d4ff;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
transition:.3s;
}

nav a:hover{
color:#00d4ff;
}

.hero{
height:100vh;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 10%;
}

.left{
max-width:550px;
}

.left h3{
font-size:25px;
color:#00d4ff;
}

.left h1{
font-size:65px;
margin:10px 0;
}

.left h2{
font-size:35px;
color:#6